{% extends 'main/base.html' %}

{% load static %}

{% block content %}
    <!-- Подключение стилей для shipping_policy -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/footer/shipping_policy.css' %}">

    <div class="shipping_policy">
        <div class="title">
            <h1><u>> Shipping Policy</u></h1>
        </div>

        <h1>*FREE UK & USA SHIPPING ON ALL ORDERS*</h1>
        <h1>*FREE EU SHIPPING ON ELECTROLYTE MIX & IF YOU BUY 4 CASE BUNDLES OF ELECTROLYTE ENERGY*</h1>
        <h1>*ORDERS PLACED BEFORE 12NOON ON WEEK DAYS, WILL BE SHIPPED ON THE SAME DAY GMT/EST*</h1>
        <h1>*NEXT DAY/EXPRESS DELIVERY IS ONLY AVAILABLE IF YOU PLACE YOUR ORDER BEFORE 12NOON GMT/EST ON WEEK DAYS*</h1>

        <p>
            International tracked and untracked post may be subject to delays or restrictions. 
            These may be caused by changes in transport procedures (e.g. border controls), 
            changes in international transport (e.g. cancellation of previously used flight connections), 
            changes in delivery procedures in the destination country 
            (e.g. quarantine or other protective measures) and more.
        </p>

        <p>
            Please note: All deliveries are handled by shipping couriers. 
            Therefore all times given below are estimated delivery times. 
            There is a small chance that your delivery may come earlier or later than specified.<br>
            Please ensure that your address is correct at checkout.<br>
            Any failed deliveries will be cancelled.<br>
            In the event of any failed delivery, the cost of the item only, 
            will be automatically refunded to the card used at checkout, once it is sent back to our warehouse.<br>
        </p>

        <h1>
            SHIPPING COSTS: <br>
            Final shipping fees are calculated at checkout based on weight and location. <br>
            UK: <br>
        </h1>
        
        <p>
            Economy: Starting from: £3.99 <br>
            Express Next Day: Starting from: £ 8.50 <br>
        </p>

        <h1>Europe:</h1>

        <p>
            Standard : Starting from: €7.50 <br>
            Tracked: Starting from: €10.80 <br>
            Express: Starting from: €22.00 <br>
        </p>

        <h1>United States:</h1>

        <p>
            Standard: Starting from: $5.00 <br>
            Express: Starting from: $15.00 <br>
        </p>

        <h1>Canada:</h1>

        <p>
            Tracked: Starting from: CAD 27.00
        </p>

        <h1>South America:</h1>

        <p>
            Tracked: Starting from: $ 47.00
        </p>

        <h1>Asia:</h1>

        <p>
            Tracked: Starting from: £22.50 <br>
            Express: Starting from: £45.25 <br>
        </p>

        <h1>Oceania:</h1>

        <p>
            Tracked: Starting from: £33.00 <br>
            Express: Starting from: £45.00 <br>
        </p>

        <h1>Africa:</h1>

        <p>
            Tracked: Starting from: £9.30 <br>
            Express: Starting from: £29.00 <br>
        </p>

        <h1>BREXIT (THE UK LEAVING THE EUROPEAN UNION) – CONSEQUENCES FOR EUROPEAN CUSTOMERS</h1>

        <p>
            As our goods are shipped from the UK, and the UK has now left the European Union,
            there may now be additional charges to pay on delivery of your goods. Please read and note the below.
        </p>

        <h1>VAT</h1>

        <p>
            VAT will now be payable in EU countries where the customer resides – rates vary from country to country but average 20%.
            VAT will be payable on delivery of the parcel in the local country.
            The customer will have an invoice attached to the shipment for payment.
            To find the VAT rate in your local country please use this link –
            <a href="https://europa.eu/youreurope/business/taxation/vat/vat-rules-rates/index_en.htm">VAT Rates in EU Countries</a>.
        </p>        

        <h1>Duty and Tariffs</h1>

        <p>
            When ordering internationally you may have to pay import duty depending on what you’ve ordered and its declared value. <br>

            Import duty is a tax that may be imposed by your country’s government on goods from other countries, so unfortunately this is not something we can control. <br>

            When sending parcels to the EU from the UK, Duty is only payable for any orders over €135 in value. Duty may apply to restricted goods, including alcohol, tobacco, etc. <br>

            Duty will be based on the type and material of each good, and the location the customer resides in. The customer will have an invoice attached to the shipment for payment. <br>

            Please use this website to look up potential payable duty charges <a href="https://www.check-duties-customs-exporting-goods.service.gov.uk/selectdest?_ga=2.24855993.2043019202.1611132980-1190965269.1588795992">Gov UK</a> <br>

            It is not guaranteed that there will be a duty charge, its dependant on each shipment and each customs official around the world. <br>
        </p>

        <h1>PROBLEMS IN RECEIVING YOUR ORDER?</h1>

        <h1>Where Is My Order Or Has It Been Dispatched?</h1>

        <p>
            Please check the email account used to purchase your item/s to find the dispatch confirmation email. <br>

            If you can’t find your email, try the following: <br>

            1. Check your junk/ spam folders <br>
            2. Search your email for no-reply@vitaluxe.com, your order number, name of items purchased. <br>
        </p>

        <h1>Why Is My Item Taking Longer Than Specified?</h1>

        <p>
            All deliveries are handled by our chosen courier service. Therefore we cannot give you a specific answer, however the following situations can sometimes cause deliveries to take a little longer. <br>
            1. Busy courier service depots can sometimes get so busy that parcels at delayed whilst they wait to be scanned and processed. <br>
            2. If you are located a long distance from the depot it can take an extra 1-2 days for items to be delivered. The further you are, the longer it takes by road. <br>
            3. International orders can face delays whilst being checked at customs, then passed to different facilities before they make it to your address. <br>
        </p>

        <h1>My Order Has Been Dispatched And Not Arrived?</h1>

        <p>If your order has not arrived, please check with your neighbours and your local post office/ depot. Your courier may have forgotten to leave a missed delivery card.</p>

        <h1>My Tracking Number Is Not Working Or Saying Pending?</h1>

        <p>
            Tracking numbers are dealt with by the courier company. Your tracking number may take a while to update. <br>
            Please call the courier company if the problem persists, we have no control over delivery once the package has left our warehouse. <br>   
            If you are based outside of the U.K. your delivery is passed on to your local delivery service such as UPS>USPS. <br>
        </p>

        <h1>Delivery Updates</h1>

        <p>
            You will be able to see the status on the tracking number. <br>
            Each country and courier company provide different levels of tracking, so you may not be able to see step-by-step delivery updates.
        </p>
    </div>
{% endblock %}
