{% extends 'main/base.html' %}

{% load static %}

{% block content %}
    <!-- Подключение стилей для terms_and_conditions -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/components/footer/terms_and_conditions.css' %}">

    <div class="terms_and_conditions">
        <div class="title">
            <h1><u>> Terms & Conditions</u></h1>
        </div>
        
        <h1>Our Consumer Goods (App & Physical Product) Terms and Conditions</h1>
        <p>These are the terms and conditions on which we supply Products (goods or App product) to you.</p>
        
        <h1>Why you should read them</h1>
        <p>
            Please read these terms carefully before making any purchase on our site. These terms tell you who we are, how we will provide products to you, refunds, returns, and other important information.
        </p>

        <h1>Information about us and how to contact us</h1>
        <p>Who we are: We are Vitaluxe Lifestyle Ltd, registered in the UK, company registration number 15238277.</p>
        <p>Contact us: You can email us at info@big-day.com.</p>

        <h1>Our Contract with You</h1>
        <p>Our acceptance of your order will take place when we email you to accept it, at which point a contract will come into existence.</p>
        
        <h1>Products</h1>
        <ul>
            <li>Products may vary slightly from their pictures.</li>
            <li>Product packaging may vary.</li>
        </ul>

        <h1>Our Rights to Make Changes</h1>
        <ul>
            <li>We may change the product to reflect changes in relevant laws and regulatory requirements.</li>
            <li>We may update or require you to update the app product.</li>
        </ul>

        <h1>Consuming Our Products</h1>
        <blockquote>Please consult your health professional before introducing any new product into your diet.</blockquote>

        <h1>Delivery and Returns</h1>
        <p>Delivery costs will be displayed to you on our website.</p>
        <p>If you are not at home when the product is delivered, follow the courier’s instructions for re-arranging delivery.</p>

        <h1>Refunds, Returns, and Replacements</h1>
        <p>If the products are faulty or not fit for purpose, you have the right to a refund or replacement.</p>

        <h1>App Product</h1>
        <ul>
            <li>All app subscription payments are handled through Apple or Google app stores.</li>
            <li>You can manage your subscription via your account settings.</li>
        </ul>

        <h1>How to Contact Us for Refunds and Returns</h1>
        <p>Email us at info@vitaluxe.com for any refund or return queries.</p>

        <h1>Price and Payment</h1>
        <p>The price of the product will be the price indicated on the order pages when you placed your order.</p>

        <h1>Disclaimer</h1>
        <p>If you suffer from any allergies or health issues, please consult your doctor before starting a plan with Vitaluxe Lifestyle Ltd.</p>
    </div>
{% endblock %}
